<div id="room-show">

  <h2><%=@room.hotel.name%></h2>
  <%= link_to "Return", rooms_path, class: "btn btn-primary" %>

  <div class="container">
    <div class="show-room-card">
      <img src= <%= cl_image_path(@room.photo.key, height: 300, width: 400, crop: :fill) %> alt="...">
      <div class="show-room-infos">
        <p><%= @room.capacity %> personnes</p>
        <p><%= @room.price_per_night %></p>
      </div>
    </div>

    <div>
      <%= simple_form_for [@room, @booking] do |f| %>
        <%= f.error_notification %>
        <%= f.input :starts_at, html5: true, label: 'Début' %>
        <%= f.input :ends_at, html5: true, label: 'Fin' %>
        <%= f.button :submit, 'Book!', class: "btn-primary"%>
      <% end %>
    </div>

  </div>
</div>
